Source: ros-kinetic-teleop-twist-keyboard
Section: misc
Priority: optional
Maintainer: Austin Hendrix <namniart@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/teleop_twist_keyboard
Standards-Version: 3.9.2

Package: ros-kinetic-teleop-twist-keyboard
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-geometry-msgs, ros-kinetic-rospy
Description: Generic keyboard teleop for twist robots.
